*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#top {
    background: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 4rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 10%;
}

.nav-flex .nav-btn {
    padding: 1rem 4rem;
    background: #fff;
    border-radius: 30px;
    border: 0;
    box-shadow: 4px 2px 4px 2px rgba(128, 128, 128, 0.363);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.479);
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}

.item {
    flex: 50%;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: capitalize;
    width: 80%;
}

.sub-heading {
    font-weight: 400;
    line-height: 1.5;
    width: 90%;
}

.top-btn {
    padding: 1.2rem 4rem;
    margin: 1rem auto;
    background: hsl(322, 100%, 66%);
    border-radius: 30px;
    border: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.top-btn:hover {
    background: hsla(322, 100%, 66%, 0.644);
}

.top-btn:active {
    background: hsla(322, 100%, 66%, 0.644);
}

.top-img {
    width: 100%;
}


#middle {
    margin: 10% auto;
}

.flex-container {
    margin: 3% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.089);
    transition: width 2s;
}

.flex-container:hover {
    width: 80%;
}
.flex-container .flex-item {
    flex: 40%;
    padding: 3rem;
}

.flex-item .flex-head {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flex-item .flex-sub {
    line-height: 1.5;
}

.reverse {
    flex-direction: row-reverse;

}


.flex-item img {
    width: 100%;
}


.floating {
    box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    position: absolute;
    top: -20%;
    left: 25%;
    transform: translate(-50, -50);
}

.floating .heading {
    width: auto;
    text-align: center;
}

.fbtn {
    margin: 0;
}

#footer {
    position: relative;
    margin-top: 20%;
    background: hsl(192, 100%, 9%);
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    padding: 10rem;
    padding-bottom: 5rem;
    /* color: #fff; */
}

.foot-item {
    display: flex;
    flex-direction: column;
    text-align: left;
}


#bottom {
    display: flex;
    justify-content: space-between;
    /* color: #fff; */
    /* width: 100%; */
}
.white {
    display: block;
    width: 60%;
    padding-bottom: 2.5rem;
    filter: brightness(0) invert(1);
}

.contact {
    /* width: 40%; */
    color: #fff;
    /* margin-right: 80px; */
}

.contact span {
    display: block;
    margin: 0.5rem 0;
}

.contact i {
    margin-right: 5px;
}

.foot-item a {
    margin: 0.5rem 0;
    text-decoration: none;
    color: #fff;
    margin-right: 0px;
}

.social {
    display: inline;
    color: #fff;
}

.social i {
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

#fb {
padding: 5px 8px;
}

#instagram {
    padding: 5px 6px;
}

small {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    border: solid 3px hsl(192, 100%, 9%);;
    /* margin-bottom: 20px; */
    background: hsl(192, 100%, 9%);
    padding: 5%;
}

@media (max-width: 970px) {
    .container {
        flex-direction: column;
    }

    .item {
        padding: 1rem;
        flex: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
    }

    .sub-heading {
        margin: 0 auto;
        text-align: center;
        width: 90%;

    }
}

@media (max-width: 880px) {
    #bottom {
        flex-direction: column;
            /* display: flex; */
            /* justify-content: space-between; */
            /* width: 100%; */
        }

    #footer {
        flex-direction: column;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .foot-item {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        text-align: left;
        padding: 1rem;
    }

    .foot-item-2 {
        margin-top: -30px;
    }
    .contact {
        width: 100%;
        color: #fff;
    }

    .white {
        width: 80%;
    }

    .social, small {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    small {
        padding-top: 0;
    }

    .floating {
        background: #fff;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        padding: 2rem;
        position: absolute;
        top: -15%;
        left: 10%;
        transform: translate(-50, -50);
    }

    .floating .heading {
        font-size: 2rem;
    }

    .social {
        padding: 1rem;
    }
}

@media (max-width: 790px) {
    .flex-container {
        margin: 5% 7%;
        flex-direction: column-reverse;
    }

    .flex-container .flex-item {
        flex: 100%;
        padding: 1rem;
        text-align: center;
    }

    #middle {
        margin: 10% auto 40% auto;
    }
}

@media (max-width: 720px) {

    #top {
        padding: 2rem;
    }

    .nav-flex .nav-btn {
        padding: 0.6rem 2rem;
    }

    .logo {
        height: 5%;
        width: 40%;
    }
}

@media (max-width: 660px) {
    body {
        font-size: smaller;
    }
    #footer {
        padding: 5px;
    }
    .floating {
        background: #fff;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        position: absolute;
        /* top: -20%; */
        left: 10%;
        transform: translate(-50, -50);
    }

    .floating .heading {
        font-size: 2rem;
    }

    .fbtn {
        margin: 0.5rem;
        padding: 1rem 3rem;
    }

    .bottom {
        padding-top: 50%;
        padding-left: 1rem;
    }

    .white {
        padding-bottom: 0px;
        /* width: 10%; */
    }
    #white {
        width: 50%;
    }

    .foot-item {
        padding-left: 0rem;
    }

    .icon {
        width: 3%;
    }

}